.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  gap: 1.5rem;
  margin: 3% 0%;
}
.bodyProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 2rem;
}
.mark,
.price {
  color: var(--color-blue);
}
.bodyProduct p {
  text-align: start;
}
.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--color-dark);
  font-size: 1em;
}
.function {
  font-size: 2em;
  color: var(--color-blue);
}
.button {
  border: none;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
  height: 7vh;
  color: white;
  background-color: var(--color-dark);
  font-size: 1.2em;
  font-weight: bold;
}
