.containerProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  gap: 1.8rem;
}
.bodyProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 2rem;
}
.make,
.price {
  color: var(--color-blue);
  font-weight: 300;
  font-size: 2rem;
}
.make {
  font-weight: 400;
}
.model {
  font-weight: 500;
  font-size: 2rem;
}
.bodyProduct p {
  text-align: start;
}
.count {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--color-dark);
  font-size: 1em;
  font-weight: 700;
}
.function {
  font-size: 2em;
  color: var(--color-blue);
}
.button {
  border: none;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 80%;
  height: 7vh;
  color: white;
  background-color: var(--color-dark);
  font-size: 1.2em;
  font-weight: bold;
}
.offers {
  color: var(--color-light-blue);
}
.result {
  font-weight: 700;
}
.imgContainer {
  background-color: white;
}
.options {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4%;
}

@media screen and (min-width: 769px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .containerProduct {
    width: 90%;
    align-items: center;
    border: 0.5px solid var(--color-gray);
    border-radius: 0.5rem;
    margin-bottom: 2%;
  }

  .bodyProduct {
    gap: 0.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 2px 2px var(--color-gray);
    margin: 2% 0%;
  }
  .containerProduct {
    width: 35%;
    align-items: center;
    border: 0.5px solid var(--color-light-gray);
    border-radius: 0.5rem;
  }
  .bodyProduct {
    gap: 0.8rem;
  }
  .carousel {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-height: 70vh;
    justify-content: center;
    align-items: center;
  }
  .img {
    border-radius: 0.5rem;
    object-fit: scale-down;
  }
  .options {
    flex-direction: row;
    width: 80%;
  }
  .button {
    height: 5vh;
    font-size: 0.8rem;
    width: 30rem;
  }
  .count {
    background-color: var(--color-ligt-gray);
  }
  .divider {
    position: absolute;
    border-left: 1px solid var(--color-light-gray);
    height: 50%;
    width: 0px;
  }
}
