.container {
  min-height: 80vh;
  margin: 2% 0%;
}
.container,
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.form {
  width: 70%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0% 2%;
  font-weight: 500;
}
.form input {
  width: 100%;
  height: 2.5em;
  border: none;
  box-shadow: 0px 2px 2px var(--color-gray);
  outline-color: var(--color-blue);
}
.button {
  border: none;
  margin-top: 8%;
  border-radius: 0.2em;
  width: 100%;
  height: 2em;
  background-color: var(--color-dark);
  color: white;
  font-size: 1.3em;
}

@media screen and (min-width: 769px) {
  .form {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    width: 35%;
  }
}
