.drawer {
  background-color: white;
  height: 100%;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  transform: translateX(160%);
  transition: transform 1s ease-out;
  z-index: 2000;
}

.drawerOpen {
  transform: translateX(0);
}

.drawerTop {
  background-color: var(--color-dark);
  height: 13rem;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.3rem 0.3rem 0.8rem;
}

.drawerBottom h2 {
  color: white;
}

.closeIcon {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  padding: 1rem;
}

.userContainer {
  display: flex;
  flex-direction: column;
}
.avatarDrawer {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-blue);
  width: 50px;
  height: 50px;
  margin-top: -60px;
}

.avatarDrawerContainer {
  display: flex;
  justify-content: flex-end;
}

.closeIcon i {
  cursor: pointer;
}

.drawer nav {
  padding: 1rem 0.8rem 0 1rem;
  display: flex;
  flex-direction: column;
  height: 90px;
}

.drawer nav ul {
  margin-top: 3px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawerLinks {
  list-style: none;
  text-decoration: none;
  color: var(--color-blue);
}

.drawerBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 0.8rem 0.8rem 1rem;
  display: flex;
  flex-direction: column;
}

.socialMediaIconsDrawer {
  display: flex;
  margin-top: 1rem;
  visibility: inherit;
  justify-content: flex-end;
}

.socialMediaIconsDrawer a {
  margin-left: 1rem;
}

.welcomeUser {
  color: white;
}

.menuTitle {
  color: white;
}

.drawerBookingLogOut {
  margin: 15px;
}
.h3Booking {
  padding: 15px;
}
.h3Administration {
  margin-bottom: 10px;
  color: var(--color-blue);
}
.DrawerAdministration {
  padding: 20px;
}
.h3Accommodation {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 15px;
  align-items: center;
}
.h3AccommodationLink,
.h3BookingLink,
.h3LoginCustomerLink {
  text-decoration: none;
  color: black;
}

.h3Booking {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding: 15px;
  align-items: center;
}
.h3LoginCustomer {
  padding: 15px;
}
.h3LogOut {
  padding: 15px;
  color: var(--color-blue);
  text-decoration: none;
}
