/** @format */
.navbar,
.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11vh;
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  border: 1px solid var(--color-dark);
  gap: 4%;
  padding: 0% 3%;
  position: fixed;
  top: 0%;
  z-index: 1000;
}
.navbar2 {
  top: 11vh;
  height: 6vh;
  font-size: 0.75rem;
}
.optionNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  cursor: pointer;
  position: relative;
}
.optionNavbar::before {
  content: "";
  background-color: var(--color-light-aqua);
  display: block;
  width: 0%;
  height: 5%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all ease 0.4s;
}
.optionNavbar:hover::before {
  width: 100%;
  left: 0%;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav {
  display: none;
}
.icons {
  display: none;
}
.icon {
  font-size: 1rem;
}
.logo {
  display: none;
}
.logoMobile {
  cursor: pointer;
  display: flex;
  max-width: 3em;
}

@media screen and (min-width: 769px) {
  .containerNav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .nav {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 20%;
  }
  .navbar2 {
    font-size: 0.9rem;
  }
  .buttonNav {
    padding: 0.5rem 0.5rem;
    transition: all ease 0.2s;
  }
  .buttonNav:hover {
    border-radius: 0.2rem;
    background-color: var(--color-blue-aqua);
    cursor: pointer;
  }
  .icon {
    display: none;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-light-gray);
    cursor: pointer;
  }
  .logo {
    cursor: pointer;
    display: flex;
    max-width: 6em;
  }
  .logoMobile {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    justify-content: space-around;
    padding-right: 0%;
    padding-left: 12%;
  }
  .navbar2 {
    justify-content: center;
  }
  .icons {
    font-weight: 200;
    gap: 2rem;
  }
  .logo {
    display: flex;
    margin-left: -12em;
  }
}
