.container {
  display: flex;
  top: 10vh;
  position: fixed;
  width: 100%;
  background-color: var(--color-dark);
  height: 7vh;
  z-index: 100;
}
.inputSearch,
.inputContainer {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  gap: 0.2rem;
}
.inputSearch {
  color: var(--color-dark);
  background-color: white;
  outline: none;
  border: none;
  width: 85vw;
  border-radius: 0.1rem;
  margin-left: 0.6rem;
  height: 1.9rem;
  padding-left: 1%;
  font-style: italic;
  font-weight: 400;
}
.inputSearch::placeholder {
  color: var(--color-gray);
  font-size: 1rem;
  font-style: italic;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-blue);
  border-radius: 2px;
  height: 1.9rem;
  padding: 0% 3%;
}

@media screen and (min-width: 769px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .inputContainer {
    justify-content: center;
    align-items: center;
  }
  .inputSearch {
    width: 35vw;
    margin-left: 0%;
  }
}
